/* Steve jobs' book */


.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sj-book {
    padding: 100px 0;
    width: 100%;
}

.sj-book .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-ms-box-shadow:0 0 10px #999;
	-o-box-shadow:0 0 10px #999;
	box-shadow:0 0 10px #999;
}

.sj-book .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
    background: #ffffff;
}


.sj-book .p1 .side{
	width:5px;
	height:600px;
	position:absolute;
	top:0;
	left:475px;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bbb), color-stop(0.5,  #ddd), color-stop(1,  #bbb));
	background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-moz-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-ms-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-o-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:linear-gradient(left, #bbb, #ddd, #bbb);

	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	z-index:100000;
}


.sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	overflow:visible !important;
}

.sj-book .depth{
	background-image:url(../img/pages-depth.png);
	position:absolute;
	top:7px;
	width:16px;
	height:100%;
}

.sj-book .front-side .depth{
	left:4px;
	background-position:0 0;
}

.sj-book .back-side .depth{
	right:4px;
	background-position:right 0;
}

.sj-book .cover h1 {
    color: #ffffff;
    background: #959500;
    border-bottom: 3px solid #000000;
    border-top: 3px solid #000000;
    padding: 10px 0;
    font-size: 36px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sj-book .cover h3 {
  color: #1c0000;
  background: #dddddd;
  border-bottom: 3px solid #000000;
  border-top: 3px solid #000000;
  padding: 10px 0;
  position: absolute;

}

.front-side {
    background: linear-gradient(to right, #670000 95%, #1c0000 100%);;
}

.back-side {
    background: linear-gradient(to right, #1c0000 0%, #670000 5%);;
}

.sj-book .hard{
    background: linear-gradient(to right, #8b0000 0%, #670000 5%, #670000 95%, #320000 100%);
    img {
      margin-top: 10%;
        width: 100%;
    }

	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.sj-book .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.sj-book .own-size{
	background-color:white;
	overflow:hidden;
}

.sj-book .page-number{
	color:#999;
	bottom:25px;
	position:absolute;
	display:block;
	text-align: center;
	line-height:30px;
	font-size:11px;
}

.sj-book .book-content .capital,
.sj-book .book-content .no-indent{
	text-indent: 0;
}

.sj-book .capital:first-letter {
    display:block;
    float:left;
    font-size: 300%;
    line-height: 70%;
	margin-right: 6px;
	margin-top: 7px;
	margin-left:18px;
}
.sj-book .odd:not(.hard){
  background-image:  -moz-linear-gradient(to right, #bbbbbb 0%, #f5f5f5 5%);
  background-image:  -webkit-linear-gradient(to right, #bbbbbb 0%, #f5f5f5 5%);
  background-image:  -ms-linear-gradient(to right, #bbbbbb 0%, #f5f5f5 5%);
  background-image:  -o-linear-gradient(to right, #bbbbbb 0%, #f5f5f5 5%);
  background-image:  linear-gradient(to right, #bbbbbb 0%, #f5f5f5 5%);

  border-left: 1px solid #bbbbbb;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.sj-book .even:not(.hard){
  background-image:  -moz-linear-gradient(to right, #f5f5f5 95%, #bbbbbb 100%);
  background-image:  -webkit-linear-gradient(to right, #f5f5f5 95%, #bbbbbb 100%);
  background-image:  -ms-linear-gradient(to right, #f5f5f5 95%, #bbbbbb 100%);
  background-image:  -o-linear-gradient(to right, #f5f5f5 95%, #bbbbbb 100%);
  background-image:  linear-gradient(to right, #f5f5f5 95%, #bbbbbb 100%);
  border-right: 1px solid #bbbbbb;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.paper {
  display: block;
  height: 100%;
  line-height: 20px;
  border: 1px solid #F0F0F0;

  /* gradients - second red border, first red border, top white space, blue lines */
  /*background-image:  -webkit-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -webkit-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -webkit-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -webkit-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
  background-image:  -moz-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -moz-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -moz-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -moz-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
  background-image:  -ms-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -ms-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -ms-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -ms-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
  background-image:  -o-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -o-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -o-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -o-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
  background-image:  linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
  background-size: 1px, 1px, auto, auto 20px;
  background-repeat: repeat-y, repeat-y, no-repeat, repeat;
  background-position: 90% 0px, 10% 0px, 0px 0px, 0px 0px;*/

  //background-image:  -moz-linear-gradient(to right, white 90%, black 100%);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.paper:first-line {
  line-height: 33px;
  vertical-align: baseline;
}

.paper:focus {
  outline: none;
}



/*
#book .odd.paper article:after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background: rgba(255,255,255,1);
    top: 25%;
    left: -10%;
    z-index: 10;
    -webkit-box-shadow:
        inset 2px 2px 5px rgba(125,125,125,1),
        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),
        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
    -moz-box-shadow:
        inset 2px 2px 5px rgba(125,125,125,1),
        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),
        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
    box-shadow:
        inset 2px 2px 5px rgba(125,125,125,1),
        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),
        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
}

#book .even.paper article:after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background: rgba(255,255,255,1);
    top: 25%;
    right: 1%;
    z-index: 10;
    -webkit-box-shadow:
        inset 2px 2px 5px rgba(125,125,125,1),
        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),
        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
    -moz-box-shadow:
        inset 2px 2px 5px rgba(125,125,125,1),
        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),
        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
    box-shadow:
        inset 2px 2px 5px rgba(125,125,125,1),
        2px 50.1em 5px rgba(255,255,255,1), 0px 50em rgba(125,125,125,.75),
        2px 90.1em 5px rgba(255,255,255,1), 0px 90em rgba(125,125,125,.5),
        2px 130.1em 5px rgba(255,255,255,1), 0px 130em rgba(125,125,125,.25);
}*/



.t {
  display: table;
  margin-top: 200px;
  width: 100%;
  height: 100%;
}

.tc {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.rel {
  position: relative;
}
