/**
* Code block:: Layout
* 
* Description:: Styling the DOM elements with classes. 
*
*/

/*--------------- Top ---------------*/
.top-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: $margin-top-page;
	background: #fff;
	border-bottom: 1px solid $color-light;
	padding: 20px 0 10px 0;
    z-index: 99999;
}

#togglebox {
  display: none;
}

.top-navigation{
	text-align: right;

	ul{
		margin: 5px 0 0 0;
		padding: 0;
		list-style: none;
        height: 50px;

		> li{
            /* set li of the main menu */
			font-size: $h6-size + .1em;
			font-weight: 700;
			display: inline-block;
			margin-right: 5px;
			text-transform: uppercase;
            position: relative;

            > ul {
                /* set the sub menu and hide it */
                width: 200%;
                position: absolute;
                -webkit-transition: all 0.7s ease;
                -moz-transition: all 0.7s ease;
                -ms-transition: all 0.7s ease;
                -o-transition: all 0.7s ease;
                transition: all 0.7s ease;
                display: block;
                opacity: 0;
                height: 0;
                left: -100%;
                margin-top: 0;
                overflow: hidden;
                padding: 0 10px;
                border-radius: $border-radius-l - 2px;
                border: 1px groove gray;
                background: rgba(70,70,70,0.5);
                > li {
                    /* set elements of the sub menu */
                    display: block;
                    margin: 0 0 10px;
                    background: #bdbdbd;
                    &:last-child{
                      margin-bottom: 0;
                    }

                    > a, span {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

			&:last-child{
				margin-right: 0; // removes the right margin from the last li element
			}

            &:hover > a, &:hover > span {
                background: $color-accent;
                display: inline-block;
                /* pop-up effect for the menu */
                -webkit-transform: scale(1.2,1.2);
                transform: scale(1.2,1.2);
                color: $font-hover-color;
                border: 1px solid $color-accent;

            }

            &:hover > ul, > ul:hover{
                /* trigger the sub menu intro and show it*/
                opacity: 1;
                height: auto;
                left: -50%;
            }
		}
	}

	a, span{
		padding: 8px;
        cursor: pointer;
        display: inline-block;
		border: 1px solid $color-lightest;
		border-radius: $border-radius-s;
        -webkit-transition: width .1s, height .1s, background-color 1s, -webkit-transform .5s;
        transition: width .1s, height .1s, background-color 1s, transform .5s;
	}
}

.hero{
	margin-top: $margin-top-page;
	padding: 150px 0;
	background-image: url('../img/hero-img.jpg');
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
}

.slogan span{
	padding: 0 20px;
	background: rgba(275, 78, 0, .8);
}

.slogan > *{
	margin-bottom: 15px;
	padding-bottom: 0;	
}

.description > *{
	margin-top: 0;
	padding-top: 0;
}

/*--------------- Middle ---------------*/
.main-content{
	margin-top: 100px;
	margin-bottom: 100px;

    iframe{
        width: 100%;
        height: 400px;
        margin-bottom: 60px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.member{
    margin-top: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid $color-light;

    &:last-child{
        margin-bottom: 0;
    }
}

.member-name{
    margin: 0 auto;
    padding: 0 auto;
}

.member-info{
    margin-top: 15px;
}

.info-row{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $color-lightest;

	&:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.info-box-title{
	margin-top: 0;
}

.pickups {
    margin-top: $margin-top-page;
    padding: 0 5%;
}

.pick-up-box {
    border-radius: 10px;
    padding: 10px;
    position: relative;
    p {
        margin-left: 10%;
        display: inline-block;
    }
}

.line {
    width: 70%;
    height: 4px;
    border-bottom: 2px solid #3e4bff;
    transform:
        translateY(20px)
        translateX(5px)
        rotate(-2deg);
    position: absolute;
    bottom: 0;
    left: 5%;
}

main {
  overflow: hidden;
}

.paper article {
  position: relative;
  margin: 50px 0 0 10%;
  height: 10%;
  vertical-align: middle;

  &:hover .line{
    border-bottom: 2px solid #ff180c;
  }

  p {
    display: inline-block;
  }

}
/*--------------- Bottom ---------------*/
.site-footer{
	border-top: 1px solid $color-light;
	padding: 30px 0;
	margin: 15px 0 0 0;
	font-size: 14px;
    width: 100%;
	text-align: center;
}